.eslintrc.js
.prettierrc.js
.editorconfig

.DS_Store/**
.idea/**
.vscode/**
**/node_modules/**
**/dist/**
**/dist-ssr/**
**/docs-dist/**
**/test/**
**/tests/**
**/demo/**
**/logs/**
**/*.svg
**/*.toml
**/*.xml
**/**.min.*
.husky/**
build_exe/**
build_app/**
build/**
cordova/**
public/lib/**